/* Give your page a fun background color */
.main-section{
  background-color: #5dbcd2;
}
/* Make the header and footer a different color from the background */
.site-header{
  font-size: 24px;
  background-color: #F08080;
  margin: 0;
  padding: 10px 10%;
}

h1{
  text-align: center;
}
 .image1{
   margin-top: 10px;
   border: 7px black;
   border-style: solid;
   display: block;
   margin-left:auto;
   margin-right: auto;
   width: 237px;
   height: 315px;
 }

.image-column{
  float:left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:auto;
  margin-bottom: auto;
}
.image-row{
  display: flex;
}


.coaster-image1{
  display:block;

  padding: 5px 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.coaster-image2{
  display:block;
  padding: 5px 20px;
  margin-left: auto;
  margin-right: auto;
}
h4{
  padding-left: 15px;
}
 .outer-list{
   font-family: fantasy;
 }

.main-footer{
  padding: 10px;
  background-color: #F08080;
  text-align: center;
}
/* Align the h1 containing your name in the center of the header*/

.sunset{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Make your p tag a different color and italic */
p{
  color:#cff;
}
/* Put a border around your image */

/* Change the font-family of your list */
