/* Assignment 1 created by Adam Boerhave during week 1 of Prime Digital Academy,
8/17-23/2020 */

/* Give your page a fun background color */
.main-section{
  background-color: #5dbcd2;
}

/* Make the header and footer a different color from the background */
/* Style for header*/
.site-header{
  background-color: #F08080;
  padding: 10px 10%;
}

/* Align the h1 containing your name in the center of the header */
/* Style for h1 wtih name */
h1{
  font-size: 40px;
  text-align: center;
}

/* Put a border around your image */
/* position and border for head image */
 .image1{
   margin-top: 15px;
   border: 7px black solid;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 237px;
   height: 315px;
 }

/* Change the font-family of your list */
 .outer-list{
   font-family: fantasy;
 }

 /* move h2 text before list in from edge a bit */
 h2{
   margin-left: 15px;
 }

/* style for position of container images side by side */
 .image-row{
   display: flex;
   margin-top: 15px;
 }

/* style for position of individual images side by side */
 .image-column{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

/* style to move text below image to center */
 .image-row p{
   text-align:center;
 }

/* Make the header and footer a different color from the background */
/* footer style and size */
.main-footer{
  padding: 10px;
  background-color: #F08080;
  text-align: center;
}

/* Put a border around your image */
/* position and border for sunset picture */
.sunset{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 7px #cc9199 solid;
  margin-top: 10px;
}

/* Make your p tag a different color and italic */
.main-footer p{
  color: #cff;
}
