/* Give your page a fun background color */
.main-section{
  background-color: #5dbcd2;
}
/* Make the header and footer a different color from the background */
.site-header{
  background-color: #F08080;
  margin: 0;
  padding: 10px 10%;
}

h1{
  text-align: center;
}
 .image1{
   margin-top: 10px;
   border: 7px black;
   border-style: solid;
   display: block;
   margin-left:auto;
   margin-right: auto;
   width:auto;

 }

.main-footer{
  padding: 10px;
  background-color: #F08080;
  text-align: center;
}
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
